{% extends "base.html" %}

{% block title %}互動式 DL 專案{% endblock %}

{% block initial_title %}互動式程式碼（DL 專案）{% endblock %}

{% block project_buttons %}
    <button class="project-btn btn btn-outline-primary" data-id="1">MNIST_FCN <br> MNIST_FCN_全卷積網路</button>
    <button class="project-btn btn btn-outline-primary" data-id="2">CIFAR_10_FCN <br> CIFAR_10_全卷積網路</button>
    <button class="project-btn btn btn-outline-primary" data-id="3">CIFAR_10_CNN <br> CIFAR_10_卷積神經網絡</button>
    <button class="project-btn btn btn-outline-primary" data-id="4">YOLO <br> You Only Look Once</button>
    <button class="project-btn btn btn-outline-primary" data-id="5">Transfer_Learning <br> 轉移學習</button>
    <button class="project-btn btn btn-outline-primary" data-id="6">Knowledge_Distillation <br> 知識蒸餾</button>
    <button class="project-btn btn btn-outline-primary" data-id="7">Autoencoder <br> 自編碼器</button>
{% endblock %}

{% block runner_script %}
    <script type="module" src="{{ url_for('static', filename='js/DL_project_runner.js') }}"></script>
{% endblock %}