{% extends "base.html" %}

{% block title %}互動式 ML 專案{% endblock %}

{% block initial_title %}互動式程式碼（ML 專案）{% endblock %}

{% block project_buttons %}
    <button class="project-btn btn btn-outline-primary" data-id="1">Linear_Regression <br> 線性迴歸</button>
    <button class="project-btn btn btn-outline-primary" data-id="2">Polynomial_Regression <br> 多項式迴歸</button>
    <button class="project-btn btn btn-outline-primary" data-id="3">Linear_Classifier <br> 線性分類器</button>
    <button class="project-btn btn btn-outline-primary" data-id="4">Objective_And_Loss <br> 目標與損失</button>
    <button class="project-btn btn btn-outline-primary" data-id="5">Metrics <br> 指標</button>
{% endblock %}

{% block runner_script %}
    <script type="module" src="{{ url_for('static', filename='js/ML_project_runner.js') }}"></script>
{% endblock %}